In [5]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv('data.csv', names=['X', 'Y', 'Z'], dtype={'X': np.int32, 'Y': np.int32, 'Z': np.float64})

   X  Y             Z
0  0  0  2.123457e+11
1  0  1  2.987654e+11
2  0  2  3.456789e+11
3  0  3  4.567890e+11